{% extends 'base.html' %}

{% block title %}Meet Our Staff - TipEase{% endblock %}

{% block content %}
<section class="hero-section restaurant-bg" id="waiters">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5 h-100 animate-fade-in">
                <h1 class="text-white fs-0">Meet Our Amazing Staff</h1>
                <p class="text-white">Show your appreciation to our dedicated service team</p>
            </div>
        </div>

        <div class="row">
            {% for waiter in waiters %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="waiter-card">
                    <a href="{% url 'waiter_detail' waiter.id %}">
                        <div class="waiter-avatar"
                            style="background-image: url('{{ waiter.photo.url }}'); height: 200px; width: 200px;"></div>
                    </a>
                    <p class="text-muted">{{ waiter.name }}</p>

                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center text-light">
                <p>No waiters available at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}